/*
    @name badTheme
    @author Yurre#7149
    @description probably the worst theme you have ever seen
    @version 1
*/

/*main background*/
.app-2CXKsg {
    background-image: url();
    background-size: cover;
    background-color: transparent;
}